@import "../../../../scss/index.scss";

.my-info {
    img {
        width: 150px;
        margin-bottom: 20px;
    }

    h4 {
        margin-bottom: 20px;
        color: $primary-color-dark;

    }

    .social-links {
        justify-content: flex-start;
    }
}

.social-link {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}