@import "../../../scss/index.scss";

.menu-top-web {
    position: sticky !important;
    z-index: 3;
    top: 0;
    background-color: #181818;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        border: 0 !important;

        a {
            color: #ffff !important;
            font-weight: bold;
        }

        &:hover {
            color: $primary-color !important;
        }
    }

    &__logo {
        padding: 10px;

        img {
            width: 75px;
            height: 82.5px;
        }
    }
}