@import "../../../scss/index.scss";

.social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;

    a {
        display: flex;
        margin-right: 10px;
        padding: 5px 8px;
        border-radius: 5px;

        &.github {
            background-color: lightgray;
        }

        &.linkedin {
            background-color: $linkedin;
        }

        &.whatsapp{
            background-color: #1AD03F;
            color: white;
        }

        svg {
            width: 15px;
            height: 20px;
        }
    }
}

@media screen and (max-width: 780px) {
    .social-links {
        display: none;
    }
}